.new {
    display: flex;
    width: 100%;

    .newContainer {
        flex: 6;

        .top, .bottom {
            -webkit-box-shadow: 3px 1px 13px -4px rgba(0,0,0,0.76); 
            box-shadow: 3px 1px 13px -4px rgba(0,0,0,0.76);
            padding: 20px;
            margin: 20px;
            display: flex;
            
            .title {
                color: lightgray;
            }

            .left {
                flex: 1;
                text-align: center;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
    
            .right {
                flex: 2;

                form {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    justify-content: space-around;

                    .formInput {
                        width: 40%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .icon {
                                cursor: pointer;
                            }
                        }

                        input {
                            width: 100%;
                            padding: 5px;
                            border: 0;
                            border-bottom: 1px solid gray;
                        }
                        
                        button {
                            width: 150px;
                            padding: 10px;
                            border: 0;
                            background-color: teal;
                            color: #fff;
                            border-radius: 5%;
                            font-weight: bold;
                            cursor: pointer;
                            margin-top: 10px;

                            &:disabled {
                                background-color: rgba(0, 128, 128, 0.507);
                                cursor: not-allowed;
                            }
                        }
                    }

                }
            }
        }

            
    }
}